*{
  margin: 0px;
  box-sizing: border-box;
}

#img-cont{
  margin: 10px;
  display: grid;
  place-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 300px));
}

#img-cont img{
  height: 200px;
  width: auto;
  transition: all 0.5s ease-out;
}

#img-cont img:hover{
  cursor: pointer;
  height: 210px;
  width: auto;
}